<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='png-google-cloud-logo.png') }}" alt="Google Cloud Logo" width="200">
        <h1>Welcome to GCP Portal</h1>
        <!-- Add a section to display flashed messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <form method="post" action="/upload" enctype="multipart/form-data">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter Your Email">
            <br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
            <br>
            <button type="button" id="nextBtn">Next</button>
        </form>
    </div>

    <script>
        document.getElementById("nextBtn").addEventListener("click", function() {
            window.location.href = "/upload";
        });
    </script>
</body>
</html>
